        body {
            background-color: #8a5697; /* Cor suave de fundo */
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 40px;
        }
        h2 {
            color: rgb(255, 255, 255);
            font-size: 30px;
        }
        h3 {
            color: rgb(255, 255, 255);
            font-size: 30px;
        }
        p {
            font-size: 30px;
            text-align: justify;
        }
        ul {
            line-height: 2;
        }
        img {
            width: 400px;
            border-radius: 10px;
            display: block;
            margin: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 2px solid #1b1515;
        }
        td {
            text-align: center;
            padding: 40px;
        }
        a {
            text-decoration: none;
            color: #002d57;
        }
        a:hover {
            color: #ff4500;
        }
        #mensagem {
            margin-top: 10px;
            font-size: 20px;
            font-weight: bold;
            color: rgb(255, 255, 255);
        }
